body {
  background-color: #232323;
}

header, .subheader {
  color: #FFFFFF;
}

#container {
  max-width: 75%;
  margin: 0 auto;
}

.square {
  width: 30%;
  /* DEFAULT COLOR */
  background-color: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}
