@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

body {
  background-color: #232323;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

header {
  color: #FFFFFF;
  text-align: center;
  background-color: #454545;
  margin: 0;
}

header h1 {
  margin: 0;
  font-weight: normal;
}

nav {
    background-color: #FFFFFF;
    height: 30px;
    text-align: center;
    color: #232323;
}

#container {
  max-width: 75%;
  margin: 0 auto;
}

.square {
  width: 30%;
  /* DEFAULT COLOR */
  background-color: #FFFFFF;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.selected {
  background-color: #232323;
  color: #FFFFFF;
}
